.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.response {
  font-size: 22px;
}

.cards {
  border: 2px solid salmon;
  height: 300px;
  width: 400px;
  margin: auto;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.card {
  border: 2px solid #1c1c1c;
  height: 50px;
  width: 100px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b1b1b;
}